button {
    background-color: var(--cyan);
    color: var(--cream);
    border: none;
    padding: 1em 2em;
    border-radius: 6px;
    transition: background-color 0.4s ease-out;
    cursor: pointer;
}

button:hover {
    background-color: var(--light-cyan);
}

button:disabled,
button[disabled] {
    background-color: var(--disabled);
}