/* General styles */

@import-normalize;

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  overflow-x: hidden;
}

:root {
  --cyan: #0E8784;
  --light-cyan: #66D2CF;
  --dark-grey: #333D4B;
  --grey: #83888F;
  --orange: #FDD6BA;
  --cream: #FEFCF7;
  --disabled: #F4F1EB;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* typography */
:root {
  --body: 1rem;
  --body-line-height: 1.625rem;
  --button-font: 1.125rem;
  --nav-font: 0.75rem;
  --nav-font-mobile: 1.5rem;
  --title-s: 1.5rem; /* 24px */
  --title-sm: 1.75rem; /* 28px */
  --title-m: 2rem; /* 32px */
  --title-l: 2.5rem; /* 40px */
  --title-xl: 4.5rem; /* 72px */
  --title-xxl: 9.375rem; /* 140px */
  --doc-margin: 6%;
}

body {
  font-family: 'Barlow', sans-serif;
  color: var(--dark-grey);
  background-color: #FEFCF7;
  font-weight: 400;
  font-size: var(--body);
  line-height: var(--body-line-height);

  max-width: 90rem;
  margin: auto;
  text-align: center;
}

h1,
h2,
h3,
h4,
button,
.body-l,
.body-m {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  line-height: 1.25;
}

.body-l,
.body-m,
.body-xl {
  line-height: 1.4;
}

h1 {
  font-size: var(--title-l);
}

@media only screen and (min-width: 68rem) { 
  h1 {
    font-size: var(--title-xl);
  }
}

.body-xl {
  font-size: var(--title-m);
}

h2,
.body-l {
  font-size: var(--title-sm);
}

h2 {
  padding-bottom: 1.5rem;
}

h3,
.body-m {
  font-size: var(--title-s);
}

/* @media only screen and (min-width: 37.5rem) {
  .body-m {
    font-size: var(--title-m);
  }
} */

h3 {
  margin-bottom: 1.5rem;
}

h4 {
  margin-bottom: 1.5rem;
}

button {
  font-size: var(--button-font);
}

nav li,
.menu {
  text-transform: uppercase;
  font-weight: 700;
  font-size: var(--nav-font);
  letter-spacing: 0.92px;
}

.cyan {
  color: var(--cyan);
}
.gray {
  color: var(--grey);
}

.gray-heading {
  color: var(--grey);
  margin-bottom: 2rem;
}
/* main sections */

.container {
  margin: 8rem var(--doc-margin);
  border-radius: 10px;
}

.container:nth-child(odd) {
  color: var(--cream);
  background-color: #2C343E;
}

.container:nth-child(odd) p:first-of-type {
  opacity: 0.8;
}

/* exceptions for the plan-section */
.plan-section .container:nth-child(odd) {
  color: unset;
  background-color: unset;
}

.plan-section .container:nth-child(odd) p:first-of-type {
  opacity: initial;
}

.plan-section .container:nth-child(even),
.plan-section .container:nth-child(1) {
  color: var(--cream);
  background-color: #2C343E;
}

