/* General styles */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  overflow-x: hidden;
}

:root {
  --cyan: #0E8784;
  --light-cyan: #66D2CF;
  --dark-grey: #333D4B;
  --grey: #83888F;
  --orange: #FDD6BA;
  --cream: #FEFCF7;
  --disabled: #E2DEDB;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* typography */
:root {
  --body: 1rem;
  --body-line-height: 1.625rem;
  --button-font: 1.125rem;
  --nav-font: 0.75rem;
  --nav-font-mobile: 1.5rem;
  --title-s: 1.5rem; /* 24px */
  --title-sm: 1.75rem; /* 28px */
  --title-m: 2rem; /* 32px */
  --title-l: 2.5rem; /* 40px */
  --title-xl: 4.5rem; /* 72px */
  --title-xxl: 9.375rem; /* 140px */
  --doc-margin: 6%;
}

body {
  font-family: 'Barlow', sans-serif;
  color: var(--dark-grey);
  background-color: #FEFCF7;
  font-weight: 400;
  font-size: var(--body);
  line-height: var(--body-line-height);

  max-width: 90rem;
  margin: auto;
  text-align: center;
}

h1,
h2,
h3,
h4,
button {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  line-height: 1.25;

}

h1 {
  font-size: var(--title-l);
}

@media only screen and (min-width: 68rem) { 
  h1 {
    font-size: var(--title-xl);
  }
}

h2 {
  font-size: var(--title-sm);
  padding: 1.5rem 0;
}

h3 {
  font-size: var(--title-s);
  margin-bottom: 1.5rem;
}

button {
  font-size: var(--button-font);
}

/* main sections */

.container {
  margin: 6rem var(--doc-margin);
}

.container:nth-child(odd) {
  color: var(--cream);
  background-color: #2C343E;
  border-radius: 10px;
}

.container:nth-child(odd) p:first-of-type {
  opacity: 0.8;
}

/* options ---- */
.option {
  background-color: var(--cream);
}

.option:hover {
  background-color: var(--orange);
}
.option.active {
  background-color: var(--cyan);
}


